@model Walking_Dinner__asp.net_.Models.persoondata

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>persoondata</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.volledigenaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.volledigenaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.straatnaam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.straatnaam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.huisnummer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.huisnummer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.postcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.postcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.plaats)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.plaats)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefoonnummer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefoonnummer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emailadress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emailadress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dieetwensen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dieetwensen)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.volledigenaam2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.volledigenaam2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.straatnaam2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.straatnaam2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.huisnummer2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.huisnummer2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.postcode2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.postcode2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.plaats2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.plaats2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefoonnummer2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefoonnummer2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emailadress2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emailadress2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dieetwensen2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dieetwensen2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.groep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.groep)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
